@import "../var.scss";

.btn-yellow{
    color: $black;
    padding: 10px 20px;
    background: linear-gradient(to right, $yellow 50%, transparent 50%);
    font-weight: $smbold;
    background-size: 200% 100%;
    background-position: 0 0;
    border: 1px solid $yellow;
    transition: all 0.5s ease-out;
    &:hover{
        background-position: 100% 0%;
        color: $yellow;
    }
}